header {
      text-align: center;
      background: url('http://i.imgur.com/1ghk1aX.jpg?1');
      background-size: cover;
      color: rgba(0,0,0,0.7);
    }
    a {
      color: rgba(255,255,255,0.9);
      font-size: 15px;
    }
    h1 {
      font-size: 30px;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 5px solid black;
      border-radius: 20px;
    }
    h2 {color: blue;
        font-size: 20px;
        }
    body {background:rgba(0,100,200,0.3);}
    ul {
      padding: 10px;
      background: black;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }