
  
    
    body {background-image:url('http://i.imgur.com/3ebYMUI.jpg');
      }

    h1 {color: green;
        font-size: 20px;}


    h2 {color: blue;}

    p {text-align: justify;
       margin: 0 100px 0 100px;
       color: green;}


    img {border: 3px solid black;}

    .top { margin: 20px;
          text-align: right;
    }
    
    .middle {
      text-align: center;
      margin: 50px;
      padding-bottom: 50px;}

    .bottom {margin: 20px;
      text-align: left;
    }
    
    

   
  


    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    