
  
    
    body {background-image:url('http://i.imgur.com/3ebYMUI.jpg');
          font-family: helvetica;
      }

    h1 {color: #006400;
        font-size: 15px;
        margin: 0 auto;
       }


    h2 {color: white;
        font-size: 20px;
        background-color: rgba(0,0,0,0.7);
        margin: 30px 150px 30px 150px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
        text-align: center;
        }

    p {text-indent: 30px;
      text-align: justify;
      margin: 0 150px 0 150px;
      font-size: 18px;
      color: #006400;}

    

    img {border: 3px solid black;}

    .top { margin: 30px;
          text-align: right;
    }
    
    .middle {
      text-align: center;
      margin: 50px;
  }

    .gallery{ background-position: center;
      }

    .bottom {margin: 20px;
      text-align: left;
    }
    
    button {font-size: 15px;
            margin: 0 300px 30px 300px;}
    

    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      
   
    